## Trisha Moyer
## Spring 2017

In [1]:
import pandas as pd
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
#reading the data from the disk into memory
df = pd.read_csv("train.csv")

In [3]:
#Just a reminder, here are all the column names
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
#df

In [5]:
#I'm going to create a new dataframe and put only the three variables I'm going to be using into it.
X = pd.DataFrame()
X['Sex'] = df['Sex']
X['survived'] = df['Survived']
X['Fare'] = df['Fare']

In [6]:
#print(X)

In [7]:
#I'm going to drop missing values.   That's probably NOT the best strategy, but it's usually good to start simple and 
#build complexity as you go.
X = X.dropna(axis=0)
print(X)

        Sex  survived      Fare
0      male         0    7.2500
1    female         1   71.2833
2    female         1    7.9250
3    female         1   53.1000
4      male         0    8.0500
5      male         0    8.4583
6      male         0   51.8625
7      male         0   21.0750
8    female         1   11.1333
9    female         1   30.0708
10   female         1   16.7000
11   female         1   26.5500
12     male         0    8.0500
13     male         0   31.2750
14   female         0    7.8542
15   female         1   16.0000
16     male         0   29.1250
17     male         1   13.0000
18   female         0   18.0000
19   female         1    7.2250
20     male         0   26.0000
21     male         1   13.0000
22   female         1    8.0292
23     male         1   35.5000
24   female         0   21.0750
25   female         1   31.3875
26     male         0    7.2250
27     male         0  263.0000
28   female         1    7.8792
29     male         0    7.8958
..      ...       ...       ...
861    male         0   11.5000
862  female         1   25.9292
863  female         0   69.5500
864    male         0   13.0000
865  female         1   13.0000
866  female         1   13.8583
867    male         0   50.4958
868    male         0    9.5000
869    male         1   11.1333
870    male         0    7.8958
871  female         1   52.5542
872    male         0    5.0000
873    male         0    9.0000
874  female         1   24.0000
875  female         1    7.2250
876    male         0    9.8458
877    male         0    7.8958
878    male         0    7.8958
879  female         1   83.1583
880  female         1   26.0000
881    male         0    7.8958
882  female         0   10.5167
883    male         0   10.5000
884    male         0    7.0500
885  female         0   29.1250
886    male         0   13.0000
887  female         1   30.0000
888  female         0   23.4500
889    male         1   30.0000
890    male         0    7.7500

[891 rows x 3 columns]

### Survived Variable

In [8]:
#survived will be my dependent variable, y.   I'll assign it to y and remove it from X
y = X['survived']
X = X.drop(['survived'], axis=1)

### Sex Variable

In [9]:
pd.get_dummies(X.Sex)

     female  male
0       0.0   1.0
1       1.0   0.0
2       1.0   0.0
3       1.0   0.0
4       0.0   1.0
5       0.0   1.0
6       0.0   1.0
7       0.0   1.0
8       1.0   0.0
9       1.0   0.0
10      1.0   0.0
11      1.0   0.0
12      0.0   1.0
13      0.0   1.0
14      1.0   0.0
15      1.0   0.0
16      0.0   1.0
17      0.0   1.0
18      1.0   0.0
19      1.0   0.0
20      0.0   1.0
21      0.0   1.0
22      1.0   0.0
23      0.0   1.0
24      1.0   0.0
25      1.0   0.0
26      0.0   1.0
27      0.0   1.0
28      1.0   0.0
29      0.0   1.0
..      ...   ...
861     0.0   1.0
862     1.0   0.0
863     1.0   0.0
864     0.0   1.0
865     1.0   0.0
866     1.0   0.0
867     0.0   1.0
868     0.0   1.0
869     0.0   1.0
870     0.0   1.0
871     1.0   0.0
872     0.0   1.0
873     0.0   1.0
874     1.0   0.0
875     1.0   0.0
876     0.0   1.0
877     0.0   1.0
878     0.0   1.0
879     1.0   0.0
880     1.0   0.0
881     0.0   1.0
882     1.0   0.0
883     0.0   1.0
884     0.0   1.0
885     1.0   0.0
886     0.0   1.0
887     1.0   0.0
888     1.0   0.0
889     0.0   1.0
890     0.0   1.0

[891 rows x 2 columns]

In [10]:
X['Sex'] = pd.get_dummies(X.Sex)['female']

In [11]:
print(X)

     Sex      Fare
0    0.0    7.2500
1    1.0   71.2833
2    1.0    7.9250
3    1.0   53.1000
4    0.0    8.0500
5    0.0    8.4583
6    0.0   51.8625
7    0.0   21.0750
8    1.0   11.1333
9    1.0   30.0708
10   1.0   16.7000
11   1.0   26.5500
12   0.0    8.0500
13   0.0   31.2750
14   1.0    7.8542
15   1.0   16.0000
16   0.0   29.1250
17   0.0   13.0000
18   1.0   18.0000
19   1.0    7.2250
20   0.0   26.0000
21   0.0   13.0000
22   1.0    8.0292
23   0.0   35.5000
24   1.0   21.0750
25   1.0   31.3875
26   0.0    7.2250
27   0.0  263.0000
28   1.0    7.8792
29   0.0    7.8958
..   ...       ...
861  0.0   11.5000
862  1.0   25.9292
863  1.0   69.5500
864  0.0   13.0000
865  1.0   13.0000
866  1.0   13.8583
867  0.0   50.4958
868  0.0    9.5000
869  0.0   11.1333
870  0.0    7.8958
871  1.0   52.5542
872  0.0    5.0000
873  0.0    9.0000
874  1.0   24.0000
875  1.0    7.2250
876  0.0    9.8458
877  0.0    7.8958
878  0.0    7.8958
879  1.0   83.1583
880  1.0   26.0000
881  0.0    7.8958
882  1.0   10.5167
883  0.0   10.5000
884  0.0    7.0500
885  1.0   29.1250
886  0.0   13.0000
887  1.0   30.0000
888  1.0   23.4500
889  0.0   30.0000
890  0.0    7.7500

[891 rows x 2 columns]

### Embarked Variable

In [12]:
#create indicator variables for C, S, Q, and nan
df_embarked = pd.get_dummies(df.Embarked, dummy_na=True, prefix='embarked')
print(df_embarked)

     embarked_C  embarked_Q  embarked_S  embarked_nan
0           0.0         0.0         1.0           0.0
1           1.0         0.0         0.0           0.0
2           0.0         0.0         1.0           0.0
3           0.0         0.0         1.0           0.0
4           0.0         0.0         1.0           0.0
5           0.0         1.0         0.0           0.0
6           0.0         0.0         1.0           0.0
7           0.0         0.0         1.0           0.0
8           0.0         0.0         1.0           0.0
9           1.0         0.0         0.0           0.0
10          0.0         0.0         1.0           0.0
11          0.0         0.0         1.0           0.0
12          0.0         0.0         1.0           0.0
13          0.0         0.0         1.0           0.0
14          0.0         0.0         1.0           0.0
15          0.0         0.0         1.0           0.0
16          0.0         1.0         0.0           0.0
17          0.0         0.0         1.0           0.0
18          0.0         0.0         1.0           0.0
19          1.0         0.0         0.0           0.0
20          0.0         0.0         1.0           0.0
21          0.0         0.0         1.0           0.0
22          0.0         1.0         0.0           0.0
23          0.0         0.0         1.0           0.0
24          0.0         0.0         1.0           0.0
25          0.0         0.0         1.0           0.0
26          1.0         0.0         0.0           0.0
27          0.0         0.0         1.0           0.0
28          0.0         1.0         0.0           0.0
29          0.0         0.0         1.0           0.0
..          ...         ...         ...           ...
861         0.0         0.0         1.0           0.0
862         0.0         0.0         1.0           0.0
863         0.0         0.0         1.0           0.0
864         0.0         0.0         1.0           0.0
865         0.0         0.0         1.0           0.0
866         1.0         0.0         0.0           0.0
867         0.0         0.0         1.0           0.0
868         0.0         0.0         1.0           0.0
869         0.0         0.0         1.0           0.0
870         0.0         0.0         1.0           0.0
871         0.0         0.0         1.0           0.0
872         0.0         0.0         1.0           0.0
873         0.0         0.0         1.0           0.0
874         1.0         0.0         0.0           0.0
875         1.0         0.0         0.0           0.0
876         0.0         0.0         1.0           0.0
877         0.0         0.0         1.0           0.0
878         0.0         0.0         1.0           0.0
879         1.0         0.0         0.0           0.0
880         0.0         0.0         1.0           0.0
881         0.0         0.0         1.0           0.0
882         0.0         0.0         1.0           0.0
883         0.0         0.0         1.0           0.0
884         0.0         0.0         1.0           0.0
885         0.0         1.0         0.0           0.0
886         0.0         0.0         1.0           0.0
887         0.0         0.0         1.0           0.0
888         0.0         0.0         1.0           0.0
889         1.0         0.0         0.0           0.0
890         0.0         1.0         0.0           0.0

[891 rows x 4 columns]

In [13]:
#drop the missing values, nan
df_embarked.drop(['embarked_nan'], axis=1, inplace=True)

In [14]:
X = pd.concat([X, df_embarked], join='inner', axis=1)

In [15]:
print(X)

     Sex      Fare  embarked_C  embarked_Q  embarked_S
0    0.0    7.2500         0.0         0.0         1.0
1    1.0   71.2833         1.0         0.0         0.0
2    1.0    7.9250         0.0         0.0         1.0
3    1.0   53.1000         0.0         0.0         1.0
4    0.0    8.0500         0.0         0.0         1.0
5    0.0    8.4583         0.0         1.0         0.0
6    0.0   51.8625         0.0         0.0         1.0
7    0.0   21.0750         0.0         0.0         1.0
8    1.0   11.1333         0.0         0.0         1.0
9    1.0   30.0708         1.0         0.0         0.0
10   1.0   16.7000         0.0         0.0         1.0
11   1.0   26.5500         0.0         0.0         1.0
12   0.0    8.0500         0.0         0.0         1.0
13   0.0   31.2750         0.0         0.0         1.0
14   1.0    7.8542         0.0         0.0         1.0
15   1.0   16.0000         0.0         0.0         1.0
16   0.0   29.1250         0.0         1.0         0.0
17   0.0   13.0000         0.0         0.0         1.0
18   1.0   18.0000         0.0         0.0         1.0
19   1.0    7.2250         1.0         0.0         0.0
20   0.0   26.0000         0.0         0.0         1.0
21   0.0   13.0000         0.0         0.0         1.0
22   1.0    8.0292         0.0         1.0         0.0
23   0.0   35.5000         0.0         0.0         1.0
24   1.0   21.0750         0.0         0.0         1.0
25   1.0   31.3875         0.0         0.0         1.0
26   0.0    7.2250         1.0         0.0         0.0
27   0.0  263.0000         0.0         0.0         1.0
28   1.0    7.8792         0.0         1.0         0.0
29   0.0    7.8958         0.0         0.0         1.0
..   ...       ...         ...         ...         ...
861  0.0   11.5000         0.0         0.0         1.0
862  1.0   25.9292         0.0         0.0         1.0
863  1.0   69.5500         0.0         0.0         1.0
864  0.0   13.0000         0.0         0.0         1.0
865  1.0   13.0000         0.0         0.0         1.0
866  1.0   13.8583         1.0         0.0         0.0
867  0.0   50.4958         0.0         0.0         1.0
868  0.0    9.5000         0.0         0.0         1.0
869  0.0   11.1333         0.0         0.0         1.0
870  0.0    7.8958         0.0         0.0         1.0
871  1.0   52.5542         0.0         0.0         1.0
872  0.0    5.0000         0.0         0.0         1.0
873  0.0    9.0000         0.0         0.0         1.0
874  1.0   24.0000         1.0         0.0         0.0
875  1.0    7.2250         1.0         0.0         0.0
876  0.0    9.8458         0.0         0.0         1.0
877  0.0    7.8958         0.0         0.0         1.0
878  0.0    7.8958         0.0         0.0         1.0
879  1.0   83.1583         1.0         0.0         0.0
880  1.0   26.0000         0.0         0.0         1.0
881  0.0    7.8958         0.0         0.0         1.0
882  1.0   10.5167         0.0         0.0         1.0
883  0.0   10.5000         0.0         0.0         1.0
884  0.0    7.0500         0.0         0.0         1.0
885  1.0   29.1250         0.0         1.0         0.0
886  0.0   13.0000         0.0         0.0         1.0
887  1.0   30.0000         0.0         0.0         1.0
888  1.0   23.4500         0.0         0.0         1.0
889  0.0   30.0000         1.0         0.0         0.0
890  0.0    7.7500         0.0         1.0         0.0

[891 rows x 5 columns]

### PClass

In [16]:
#create indicator variables for pclass of 1, 2, 3, and nan
df_pclass = pd.get_dummies(df.Pclass, dummy_na=True, prefix='pclass')
print(df_pclass)

     pclass_1.0  pclass_2.0  pclass_3.0  pclass_nan
0           0.0         0.0         1.0         0.0
1           1.0         0.0         0.0         0.0
2           0.0         0.0         1.0         0.0
3           1.0         0.0         0.0         0.0
4           0.0         0.0         1.0         0.0
5           0.0         0.0         1.0         0.0
6           1.0         0.0         0.0         0.0
7           0.0         0.0         1.0         0.0
8           0.0         0.0         1.0         0.0
9           0.0         1.0         0.0         0.0
10          0.0         0.0         1.0         0.0
11          1.0         0.0         0.0         0.0
12          0.0         0.0         1.0         0.0
13          0.0         0.0         1.0         0.0
14          0.0         0.0         1.0         0.0
15          0.0         1.0         0.0         0.0
16          0.0         0.0         1.0         0.0
17          0.0         1.0         0.0         0.0
18          0.0         0.0         1.0         0.0
19          0.0         0.0         1.0         0.0
20          0.0         1.0         0.0         0.0
21          0.0         1.0         0.0         0.0
22          0.0         0.0         1.0         0.0
23          1.0         0.0         0.0         0.0
24          0.0         0.0         1.0         0.0
25          0.0         0.0         1.0         0.0
26          0.0         0.0         1.0         0.0
27          1.0         0.0         0.0         0.0
28          0.0         0.0         1.0         0.0
29          0.0         0.0         1.0         0.0
..          ...         ...         ...         ...
861         0.0         1.0         0.0         0.0
862         1.0         0.0         0.0         0.0
863         0.0         0.0         1.0         0.0
864         0.0         1.0         0.0         0.0
865         0.0         1.0         0.0         0.0
866         0.0         1.0         0.0         0.0
867         1.0         0.0         0.0         0.0
868         0.0         0.0         1.0         0.0
869         0.0         0.0         1.0         0.0
870         0.0         0.0         1.0         0.0
871         1.0         0.0         0.0         0.0
872         1.0         0.0         0.0         0.0
873         0.0         0.0         1.0         0.0
874         0.0         1.0         0.0         0.0
875         0.0         0.0         1.0         0.0
876         0.0         0.0         1.0         0.0
877         0.0         0.0         1.0         0.0
878         0.0         0.0         1.0         0.0
879         1.0         0.0         0.0         0.0
880         0.0         1.0         0.0         0.0
881         0.0         0.0         1.0         0.0
882         0.0         0.0         1.0         0.0
883         0.0         1.0         0.0         0.0
884         0.0         0.0         1.0         0.0
885         0.0         0.0         1.0         0.0
886         0.0         1.0         0.0         0.0
887         1.0         0.0         0.0         0.0
888         0.0         0.0         1.0         0.0
889         1.0         0.0         0.0         0.0
890         0.0         0.0         1.0         0.0

[891 rows x 4 columns]

In [17]:
df_pclass.drop(['pclass_nan'],axis=1, inplace=True)

In [18]:
X = pd.concat([X, df_embarked, df_pclass], join='inner', axis=1)

### Ticket

In [19]:
#df_new = df[df['Ticket'].str.contains("347082")==True]
#print(df_new)

In [20]:
#df_ticket = pd.get_dummies(df_new, dummy_na=True, prefix='ticket')
#print(df_ticket)

In [21]:
#df_ticket.drop(['ticket_nan'],axis=1, inplace=True)

In [22]:
#pd.concat([X, df_embarked, df_pclass, df_ticket], join='inner', axis=1)

### SibSp (sibling/spouses)

In [23]:
df_sibsp = pd.get_dummies(df.SibSp, dummy_na=True, prefix='SibSp')

In [24]:
df_sibsp.drop(['SibSp_nan'],axis=1, inplace=True)

In [25]:
X = pd.concat([X, df_embarked, df_pclass, df_sibsp], join='inner', axis=1)

In [29]:
#remember to scale our features, as with linear regression
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X= scaler.fit_transform(X)

In [30]:
#build test and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(penalty='l2', C=1)

In [32]:
model.fit(X_train, y_train)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [33]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report

In [34]:
print("\n\n---Logistic Model---")
#logistic AUC
logit_roc_auc = roc_auc_score(y_test, model.predict(X_test))
print("Logistic AUC = %2.2f" % logit_roc_auc)
print(classification_report(y_test, model.predict(X_test) ))

---Logistic Model---
Logistic AUC = 0.78
             precision    recall  f1-score   support

          0       0.80      0.85      0.82       105
          1       0.76      0.70      0.73        74

avg / total       0.79      0.79      0.79       179